<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <PageTitle>The Sea Gypsies</PageTitle>
        <div class="home-container">
            
        </div>
    </NotFound>
</Router>
