@namespace SeaGypsies
@inherits LayoutComponentBase

<div class="bg-only">
    <img class="background" src="/home_bg.png" alt="The Sea Gypsies" />
    <div class="overlay">
        @Body
    </div>
    
</div>
